recursive-include rocrateValidator *.txt
recursive-include test/samples/invalid *.json
recursive-include test/samples/valid/ *.
recursive-include test/samples/valid/ *.html
recursive-include test/samples/ *.html